
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>重設密碼申請信</title>
</head>
<body>
    <h1>您好，@ViewBag.UserName</h1>
    <p>請點擊以下連結，返回網站重新設定密碼</p>
    <p>請點擊以下連結來驗證您的帳號：</p>
    <a href="@ViewBag.ResetPwdLink">點擊這裡</a>
</body>
</html>


