<h1>AI占卜師</h1>
@section Styles{
    <link href="/assets/css/Tarot_css/Tarotstyle.css" rel="stylesheet" />
    <style>
        
        h1{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button-container {
            display: grid;
            place-items: center;
            
        }

        .stylebtn{
            position: relative;
            left: 550px;
        }
        #shuffleBtn {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #5E005E;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #Surebtn {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #5E005E;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .chat-container {
            
            height: 400px;
            overflow-y: scroll; /* 設置滾動條，使內容超出高度時可以滾動 */
        }

        .fortuneTeller {
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        
        .fortuneTeller img {
            max-width: 100%; /* 確保圖片不超過父元素的寬度 */
            max-height: 100%; /* 確保圖片不超過父元素的高度 */
        }

        .col-8{
            margin-bottom: 120px;
        }
    </style>

        
}
<div class="col-md fortuneTeller">
    <img src="~/assets/images/占卜師.png" />
    
</div>

<div class="button-container" id="sureBtnContainer">
    <button id="Surebtn">是否開始占卜?</button>
</div>

<div class="tarot-container" >
    <div class="tarot-card" id="card1">

        <div class="card-name" id="cardName1"></div>
    </div>
    <div class="tarot-card" id="card2">

        <div class="card-name" id="cardName2"></div>
    </div>
    <div class="tarot-card" id="card3">

        <div class="card-name" id="cardName3"></div>
    </div>
    
</div>

<div class="button-container stylebtn" id="btnContainer" style="display: none;">
    <div class="col-8 mx-auto">
        <button id="shuffleBtn">Shuffle Tarot Cards</button>
    </div>
</div>

<div class="text-center chat-container" id="chatContainer" style="display: none;">
    <div class="col-12">
        <h3>聊天內容</h3>
        <ul class="list-group" id="Content">
        </ul>
    </div>
</div>

<div class="text-center" id="inputContainer" style="display: none;">
    <div class="col-8 mx-auto">
        
        <div class="mb-3">
            <input type="text" placeholder="請輸入您心中的疑問" class="form-control" id="message" autocomplete="off">
        </div>

        <button type="button" class="btn btn-primary" id="sendButton">傳送訊息</button>
    </div>
</div>



@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Tarot/Tarot.js"></script>
    
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();

        //與Server建立連線
        connection.start().then(function () {
            console.log("Hub 連線完成");
        }).catch(function (err) {
            alert('連線錯誤: ' + err.toString());
        });

        // 更新連線 ID 列表事件
        connection.on("UpdList", function (jsonList) {
            var list = JSON.parse(jsonList);
            $("#IDList li").remove();
            for(i=0; i<list.length; i++)
            {
                $("#IDList").append($("<li></li>").attr("class", "list-group-item").text(list[i]));
            }
        });

        // 更新用戶個人連線 ID 事件
        connection.on("UpdSelfID", function (id) {
            $('#SelfID').html(id);
        });

        // 更新聊天內容事件
        connection.on("UpdContent", function (msg) {
            $("#Content").append($("<li></li>").attr("class", "list-group-item").text(msg));
        });

        //傳送訊息
        $('#sendButton').on('click', function() {
            let selfID = $('#SelfID').html();
            let message = $('#message').val();
            let sendToID = $('#sendToID').val();
            connection.invoke("SendMessage", selfID, message, sendToID).catch(function (err) {
                
            });
        });
        function _uuid() {
            var d = Date.now();
            if (typeof performance !== 'undefined' && typeof performance.now === 'function') {
                d += performance.now(); //use high-precision timer if available
            }
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = (d + Math.random() * 16) % 16 | 0;
                d = Math.floor(d / 16);
                return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
            });
        }
        //let potID = _uuid();
        let memberPoints = 0;
        document.getElementById("Surebtn").addEventListener("click", function () {
            let potID = _uuid();

            var TarotPointDTO = {
                pointDetailId: potID,

                modifiedSource:"Tarot",
                modifiedAmount:-300,
            };
            // 發送 GET 請求獲取會員點數
            $.ajax({
                type: "GET",
                url: "https://localhost:5000/api/TarotPointHistories"
            }).done(data => {
                const memberPoints = data;
                console.log(memberPoints)
                // 檢查點數是否足夠
                if (memberPoints >= 300) {
                    // 足夠點數，詢問會員是否要使用點數進行占卜
                    const confirmResult = confirm("您目前有 " + memberPoints + " 點，是否要使用 300 點進行占卜呢？");
                    if (confirmResult) {
                        // 使用 POST 請求新增點數記錄
                        $.ajax({
                            type: "POST",
                            url: "https://localhost:5000/api/TarotPointHistories",
                            data: JSON.stringify(TarotPointDTO),
                            contentType: "application/json"                            
                        }).done(result => {
                            // 在此處理成功新增點數記錄的情況
                            
                            alert("您的點數已成功扣除 300 點，可以進行占卜了！");
                            // 啟動洗牌按鈕進行占卜
                            document.getElementById("sureBtnContainer").style.display = "none";
                            //document.getElementById("tarotContainer").style.display = "block";
                            document.getElementById("btnContainer").style.display = "block";
                            document.getElementById("chatContainer").style.display = "block";
                            document.getElementById("inputContainer").style.display = "block";

                        }).fail(err => {
                            // 在此處理新增點數記錄失敗的情況
                            alert("新增點數記錄時發生錯誤：" + err.statusText);
                        });
                    }
                } else {
                    // 不足夠點數
                    alert("您的點數不足，請充值後再進行占卜！");
                }
            }).fail(err => {
                alert("獲取會員點數時發生錯誤：" + err.statusText);
            });
            
        });

    </script>
}