@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
.background{
    /* 最下層背景 */
    background: url(../images/login.jpg) no-repeat;
    /* background-color: #98979783; */
    background-position: center;
    background-size:cover ;
    height: 100vh;
    width: 100%;
    /* margin-top:50px; */
    filter: blur(2px);
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 700px;
    /* margin-top: 50px; */

    background: url(../images/login.jpg) no-repeat;
    /* background-image: linear-gradient(to right bottom, rgb(40, 42, 55) 0%, rgb(40, 42, 55) 20%, rgba(40, 42, 55, 0.9) 60%, rgba(17, 22, 50, 0.4) 100%),url(../images/login.jpg); */
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
}


/*中間白色透明背景*/
.main .login-section, .main .register-section, .main .profile-section, .main .verify-section {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    /* margin:0 auto; */
    /* width: calc(100% - 58%); */
    width: 500px;
    height: 100%;
    color: #fff;
    background-color: rgba(88, 85, 85, 0.2);
    /* backdrop-filter: blur(4px); */
}

.login-section .form-box, .register-section .form-box, .profile-section .form-box, .verify-section .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* 登入註冊版面上下切換*/
.register-section .register {
    margin-bottom: 50px;
    transform: translateY(100%);
    /*transform: translateY(0px);*/
    transition: transform .6s ease;
    transition-delay: 0s;
}

.register-section.active .register { /*按註冊連結(在登入畫面)，將註冊section往上*/
    transform: translateY(0px);
    transition-delay: .7s;
}

.login-section .login {
    margin-bottom: 50px;
    transform: translateY(0px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}

.login-section.active .login { /*按登入連結(在註冊畫面)，將登入section往上*/
    transform: translateY(100%);
    transition-delay: 0s;
}



.login h2, .register h2, .verify-section .form-box h2 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0 5px 0;
}



.profile-section .form-box h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.login h5, .register h5, .verify-section .form-box h5 {
    text-align: center;
    font-size: 16px;
}
.verify-section .form-box h5{
    color:#d9d9d9;
    margin: 50px auto;
    background-color: rgba(0,0,0,0.3);
    width: 150px;
}
.verify-section .form-box p{
    font-size: 14px;
    text-align: center;
    margin: 0 40px 30px 40px;
}
.form-box .input-box,.form-box .form-group{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid#fff;
    margin: 30px 0;
    position: relative;
}
.form-verify{
    width: 350px;
    /* height: 30px; */
    left: 65%;
    transform: translate(-55%,0);
    position: relative;
    margin:30px 0;
}
.form-verify input{
    padding: 5px 0 5px 45px;
    height: 30px;
    font-size: 16px;
    color:black;
}

.form-verify i,.form-resetPassword i{
    font-size:20px;
    color: #222222;
    position: absolute;
    top: 89%;
    left: 10px;
    transform: translateY(-50%);
}
/* .form-box .form-group{
    width: 340px;
    height: 30px;
    margin: 5px auto;
    position: relative;
} */
.input-box input,.form-group input{
    height: 100%;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}
.input-box input, .form-group .user_input {
    position: absolute;
    top: 50%;
    /* left: 0; */
    transform: translateY(-40%);
    width: 300px;
    margin-left: 40px;
}


.inner-input .memberBirth {
    margin-left: 75px;
    background: #ffffff6f;
    text-align: center;
    color: white;
}


/* .form-group input{
    width: 70%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    padding-right: 28px;
    margin-left: 10px;
} */
.form-group .form-select {
    height: 100%;
    color: black;
    text-align: center;
    /*background: rgba(0,0,0,0.4);*/
    background: #ffffff5f;
    border: none;
    outline: none;
    font-size: 20px;
    padding-right: 20px;
    margin-left: 80px;
}

.input-box label,.form-group label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;
}
.input-box .icon,.form-group i{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}
/*文字向上漂浮*/
.input-box input:focus ~ label,
.input-box input:valid ~ label,
.form-group input:focus ~ label,
.form-group input:valid ~ label {
    top: -5px;
}
.form-group select:focus~ label{
    top: -5px;
}
.remember-password{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: -15px 0 15px ;
    display: flex;
    justify-content: space-between;
}
.remember-password label input{
    accent-color: #fff;
    margin-right: 3px;

}
.remember-password a{
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
}
.remember-password a:hover{
    text-decoration: underline;
}
.login .btn,.register .btn{
    /* background: #fff; */
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background:#4F9D9D	;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0,0,0,0.4);

}
.resendBtn{
    width: 150px;
    height: 35px;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%,0);
    position: relative;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background:#4F9D9D	;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0,0,0,0.4);
}
.login .btn:hover,.register .btn:hover,.login .resendBtn:hover{
    background-color: #D1E9E9;
    color:black;
}
.clicked {
    background-color: #9fcfcf; /* 更改按鈕的背景顏色 */
    color: white; /* 更改按鈕的文字顏色 */
    cursor:default ;
}

.form-box .backBtn{
    left: 43%;
    margin-top: 30px;
    position: relative;
}
.form-box .backBtn a{
    color:#1c94e9;
    font-size: 16px;
    letter-spacing: 1px;
}
.create-account{
    font-size: 14.5px;
    text-align: center;
    margin-top: 50px;
    background-color:rgba(248, 248, 248, 0.1);
    padding: 2px;
}
.create-account p a{
    color: #fff;
    font-weight:bolder;
    text-decoration: none;
}
.create-account p a:hover{
    text-decoration: underline;
}

.other-login {
    transform: translate(0, -60%);
  }
.other-login .divider {
    width: 100%;
    margin: 80px 0 30px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.other-login .divider .line {
    display: inline-block;
    max-width: 30%;
    width: 30%;
    flex: 1;
    height: 1px;
    background-color: #fff;
  }
.other-login .divider .divider-text {
    vertical-align: middle;
    margin: 0px 20px;
    line-height: 0;
    display: inline-block;
    width: 100px;
    color: #fff;
  }
.other-login .other-login-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.other-login .other-login-wrapper .other-login-item {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(51, 49, 116);
    margin: 0 10px;
  }

.other-login .other-login-wrapper .other-login-item:hover {
    border: 1px solid #4F9D9D;
    background-color:#E0E0E0	;
  }
.other-login .other-login-wrapper .other-login-item img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
.footer{
    width: 100%;
    height: 60px;
    background-color:#222222 ;
    position: absolute;
    left: 0;
    bottom: 0;
}





/*會員中心*/
.main-Membercenter{
    /* height: 100vh; */
    /* flex: 1; */
    position: relative;
    margin-top: 120px;
    margin-bottom:120px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.tabs-container{
    /* border: 1px solid #E0E0E0; */
    width: 70%;

}
/* tabs欄 */
.tabs-container .tabs{
    display: flex;
    border-bottom: 1px solid #E0E0E0;
}
.tabs-container .tabs .item{
    /* width: 140px; */
    width:calc(20%) ; 
    height: 60px;
    border: 1px solid #E0E0E0;
    border-right: none;
    border-bottom: none;
    border-radius:40% 40% 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    /* 溢出隱藏 */
    overflow: hidden;
}
.tabs-container .tabs .item:last-child{
    border-right: 1px solid #E0E0E0;
}
/* tabs背景圆 */
.tabs-container .tabs .item::before{
    content: "";
    width: 80px;
    height: 30px;
    background-color: #E0E0E0;
    border-radius: 30%;
    position: absolute;
    transition: 0.2s;
}
.tabs-container .tabs p{
    font-size: 18px;
    color: #000000;
    font-weight:bold ;
    position: relative;
    
}
/* 標籤選中狀態 */
.tabs-container .tabs .active-item::before{
    width: 150%;
    height: 150%;
}
/* 内容區 */
/* .content-mc{
    width: 70%;
    height: 500px;
    position: relative;
    border: 1px solid black;
} */
.content-mc .hidden-visible-box{
    width: 70%;
    border: 1px solid #E0E0E0;
    border-top: none;
    /* height: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    /* 內容區預設為隱藏 */
    opacity: 0;
    /* display: none; */
    /* visibility:hidden; */
    /* 不透明度改變時的過渡效果 */
    transition: opacity 0.4s;
}
.content-mc .profile-mc{
    padding-top: 50px;
}
.content-mc .profile-mc .form-mc label{
    display: inline-block;
    width: 100px;
    font-size: 18px;
    /* font-weight: bold; */
    /* text-align: center; */
    color: #000000;
    margin-left: 5px;
    margin-right: 50px;
}
.profile-mc .form-mc .span-mc{
    display: inline-block;
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    color: #000000;
    margin-left: 5px;
}
/* .profile-mc .form-mc select{

} */

/* 内容區選中狀態樣式 */
.content-mc .active{
    opacity: 1;
    /* display: block; */
    /* visibility:visible; */
}

.profile-mc .form-mc{
    width: 600px;
    height: 50px;
    /* border-bottom: 2px solid#fff; */
    margin: 20px auto;
    position: relative;
    /* background-color: #8c8c8c9f; */
}

.profile-mc .form-mc input,.profile-mc .form-mc select{
    height: 70%;
    width: 50%;
    /* color: #000000; */
    /* background: transparent; */
    /* border: none;
    outline: none; */
    border:1px solid #ddd;
    font-size: 18px;
    padding-right: 20px;
}
.profile-mc .form-mc a{
    color: #1961af;
    text-decoration: none;
}
.profile-mc .form-mc a:hover{
    color:rgb(34, 46, 69);
    text-decoration:underline;
}
.profile-mc .form-mc .btn-mc{
    position: absolute;
    right: 10%;
    bottom: 10px;
}
.profile-mc .form-mc .btn-mc button{
    display: inline-block;
    width: 120px;
    border-radius: 4px;
    margin-left: 12px;
    text-align: center;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.profile-mc .form-mc .btn-mc .cancelBtn{
    background-color: #fff;
    color: #000000;
    border: 1px solid #d3d3d3b3;
}

.profile-mc .form-mc .btn-mc .cancelBtn:hover{
    border: 1px solid #000000;
}

.profile-mc .form-mc .btn-mc .saveBtn{
    background-color: #4F9D9D;
    color: #fff;
}
.profile-mc .form-mc .btn-mc .saveBtn:hover{
    background-color: #fff;
    color: #4F9D9D;
    border: 1px solid #4F9D9D;
}
