@section Styles{
    <style>
        body{
            background-color: #deeeff;
        }
      .articleMC {
        display: flex;
        justify-content: center;
        /*align-items: center;*/
        /*height: 100vh; 確認分頁高度再調*/
        padding: 50px 0;
      }
      .containerMC {
        width: 1000px;
        background-color: #fff;
        padding: 10px 30px;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        }
      .tabMC_box {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px solid rgba(229, 229, 229);
        font-size: 18px;
        font-weight: 600;
        position: relative;
      }
      .tabMC_box .tab_btn {
        font-size: 18px;
        font-weight: 600;
        color: #919191;
        background: none;
        border: none;
        padding: 18px;
        cursor: pointer;
      }
      .tabMC_box .tab_btn.active {
        color: #7360ff;
      }

      .contentMC_box {
        padding: 10px;
      }
      .contentMC_box .contentMC {
        display: none;
        animation: moving 0.5s ease;
      }

      @@keyframes moving {
        from {
          transform: translateX(50px);
          opacity: 0;
        }
        to {
          transform: translateX(0px);
          opacity: 1;
        }
      }

      .contentMC_box .contentMC.active {
        display: block;
      }
      .contentMC_box .contentMC h2 {
        margin-bottom: 10px;
      }
      .line {
        position: absolute;
        top: 66px;
        left: 21px;
        width: 108px;
        height: 5px;
        background-color: #7360ff;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
      }

      /*個人資料*/
        .profile-mc .form-mc label {
            display: inline-block;
            width: 100px;
            font-size: 18px;
            /* font-weight: bold; */
            /* text-align: center; */
            color: #000000;
            margin-left: 5px;
            margin-right: 50px;
        }

        .profile-mc .form-mc .span-mc {
            display: inline-block;
            width: 120px;
            font-size: 20px;
            font-weight: bold;
            color: #000000;
            margin-left: 5px;
        }



        .profile-mc .form-mc {
            width: 600px;
            height: 40px;
            margin: 20px auto;
            position: relative;
        }

        .profile-mc .form-mc input, .profile-mc .form-mc select {
            height: 90%;
            width: 50%;
            border: 1px solid #ddd;
            font-size: 18px;
            padding-right: 20px;
        }

        .profile-mc .form-mc select, .profile-mc .birthMC {
            text-align:center;
        }

        .profile-mc .form-mc a {
            color: #1961af;
            text-decoration: none;
            font-size: 18px;
        }

        .profile-mc .form-mc a:hover {
            color: rgb(34, 46, 69);
            text-decoration: underline;
        }

        .profile-mc .form-mc .btn-mc {
            position: absolute;
            right: 0;
            bottom: 10px;
        }

        .profile-mc .form-mc .btn-mc button {
            display: inline-block;
            width: 120px;
            border-radius: 4px;
            margin-left: 12px;
            text-align: center;
            padding: 6px 12px;
            border: none;
            cursor: pointer;
            font-size: 14px;
        }

        .profile-mc .form-mc .btn-mc .cancelBtn {
            background-color: #fff;
            color: #000000;
            border: 1px solid #d3d3d3b3;
        }

        .profile-mc .form-mc .btn-mc .cancelBtn:hover {
            border: 1px solid #000000;
        }

        .profile-mc .form-mc .btn-mc .saveBtn {
            background-color: #4F9D9D;
            color: #fff;
        }

        .profile-mc .form-mc .btn-mc .saveBtn:hover {
            background-color: #fff;
            color: #4F9D9D;
            border: 1px solid #4F9D9D;
        }

    </style>
}

    <div class="articleMC">
      <div class="containerMC">
        <div class="tabMC_box">
          <button class="tab_btn active">個人資料</button>
          <button class="tab_btn">點數查詢</button>
          <button class="tab_btn">訂單查詢</button>
          <button class="tab_btn">客服中心</button>
          <div class="line"></div>
        </div>

        <div class="contentMC_box">
          <div class="contentMC active">
            @*<h2>個人資料</h2>*@
                <div class="profile-mc">
                    <div class="form-mc">
                        <i class="fa-sharp fa-regular fa-pen-to-square"></i>
                        <span class="span-mc">編輯會員資料</span>
                    </div>
                    <div class="form-mc">
                        <i class="fas fa-user"></i>
                        <label>姓名</label>
                        <input type="text" id="f-name" name="user_name" required />
                    </div>
                    <div class="form-mc">
                        <i class="fa-solid fa-phone"></i>
                        <label>手機號碼</label>
                        <input type="tel"
                               id="phone_number"
                               name="phone_number"
                               required />
                    </div>
                    <div class="form-mc">
                        <i class="fa-solid fa-envelope"></i>
                        <label>信箱</label>
                        <input type="email" id="email" name="user_email" required />
                    </div>
                    <div class="form-mc">
                        <i class="fa-solid fa-children"></i>
                        <label>性別</label>
                        <select name="user_gender" required="required">
                            <option selected="selected" disabled>請選擇</option>
                            <option label="男" value="0">男</option>
                            <option label="女" value="1">女</option>
                        </select>
                    </div>
                    <div class="form-mc">
                        <i class="fa-solid fa-cake-candles"></i>
                        <label>出生年月日</label>
                        <input type="date"
                            class="birthMC"
                               id="birth_date"
                               name="birth_date"
                               placeholder=" "
                               required />
                    </div>
                    <div class="form-mc">
                        <i class="fa-solid fa-map-location-dot"></i>
                        <label>通訊地址</label>
                        <input type="text" id="address" name="user_address" required />
                    </div>
                    <div class="form-mc">
                        <i class="fa-solid fa-lock"></i>
                        <label>密碼</label>
                        <a href="#">設定新密碼</a>
                    </div>
                    <div class="form-mc col-md-12">
                        <div class="btn-mc">
                            <button class="cancelBtn">取消</button>
                            <button class="saveBtn">儲存變更</button>
                        </div>
                    </div>
                   
                </div>      
          </div>

          <div class="contentMC">
            <h2>點數查詢</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sed
              iure perferendis deleniti possimus consequatur ducimus officia
              sunt minima amet!
            </p>
          </div>

          <div class="contentMC">
            <h2>訂單查詢</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
              deserunt consequuntur unde aperiam deleniti amet.
            </p>
          </div>

          <div class="contentMC">
            <h2>客服中心</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sed
              iure perferendis deleniti possimus consequatur ducimus officia
              sunt minima amet!
            </p>
          </div>
        </div>
      </div>
    </div>


@section Scripts{
    <script>
      const tabs = document.querySelectorAll(".tab_btn");
      const all_content = document.querySelectorAll(".contentMC");

      tabs.forEach((tab, index) => {
        tab.addEventListener("click", (e) => {
          tab.classList.toggle("active");

          tabs.forEach((otherTab) => {
            if (otherTab !== tab) {
              otherTab.classList.remove("active");
            }
          });

          var line = document.querySelector(".line");
          line.style.width = e.target.offsetWidth + "px"; // 設定線條的寬度，根據被點擊的 tab 的寬度來設定
          line.style.left = e.target.offsetLeft + "px"; // 設定線條的左側位置，根據被點擊的 tab 的左側位置來設定

          all_content.forEach((content) => {
            content.classList.remove("active");
          });
          all_content[index].classList.add("active");
        });
      });
    </script>
}
