@section Styles
    {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="~/css/accountStyle.css" rel="stylesheet">
}


    <div class="background"></div>
    <article>
        <div class="main container">
            <div class="row verify-section">
                <div class="form-box col-md-12">
                    @using (Html.BeginForm())
                    {
                        <h2>重設密碼</h2>
                        <h5>請查看email信件</h5>
                        <p class="col-sm-8">請輸入你註冊時的Email，我們會發送一封信件，點擊信件中的連結以重設密碼。</p>
                        <div>
                            <div class="form-verify">
                                <i class="bi bi-envelope"></i>
                                @*<input type="email" id="email-input" name="user_email" class="user_input">*@
                                @Html.TextBox("memberEmail", null, new { type = "email", @class = "user_input", required = "required" })

                            </div>
                        </div>
                        <button class="resendBtn" id="resendButton2" onclick="startCountdown(60, 'resendButton2')">送出</button>
                        <div class="backBtn">
                            @*<a href="#">回上一頁</a>*@
                            @Html.ActionLink("回上一頁", "Login" )

                        </div>
                    }
                </div>
            </div>
        </div>
    </article>

