@{
	Layout = null;
}


<link href="~/css/accountstyle.css" rel="stylesheet" />
<div class="background"></div>
<article>
	<div class="main container">
		<div class="row verify-section">
			<div class="form-box col-md-12">
				<form id="ResetPwd">
					<h2>重設密碼</h2>
					<!-- <h5>請查看email信件</h5> -->
					<div class="input-box">
						<span class="icon">
							<button type="button" class="pwdVisibility" id="togglePassword" onclick="togglePasswordVisibility()">
								<i class="bi bi-eye"></i>
							</button>
							<i class="bx bxs-lock-alt"></i>
						</span>
						<input type="password" id="memberPassword" name="memberPassword" autocomplete="off" required />
						<label>密碼</label>
					</div>
					<div class="input-box">
						<span class="icon">
							<button type="button" class="pwdVisibility" id="toggleChkPassword" onclick="toggleChkPasswordVisibility()">
								<i class="bi bi-eye"></i>
							</button>
							<i class="bx bxs-lock-alt"></i>
						</span>
						<input type="password" id="memberConfirmPassword" name="memberConfirmPassword" autocomplete="off" required />
						<label>確認密碼</label>
					</div>
					<button class="resendBtn" type="submit">送出</button>
				</form>
			</div>
		</div>
	</div>
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
	function togglePasswordVisibility() {
		let memberPassword = document.getElementById("memberPassword");
		let toggleButton = document.getElementById("togglePassword");

		if (memberPassword.type === "password") {
			memberPassword.type = "text";
			toggleButton.innerHTML = '<i class="bi bi-eye-slash"></i>';
		} else {
			memberPassword.type = "password";
			toggleButton.innerHTML = '<i class="bi bi-eye"></i>';
		}


	}

	function toggleChkPasswordVisibility() {
		let memberConfirmPassword = document.getElementById("memberConfirmPassword");
		let toggleChkButton = document.getElementById("toggleChkPassword");

		if (memberConfirmPassword.type === "password") {
			memberConfirmPassword.type = "text";
			toggleChkButton.innerHTML = '<i class="bi bi-eye-slash"></i>';
		} else {
			memberConfirmPassword.type = "password";
			toggleChkButton.innerHTML = '<i class="bi bi-eye"></i>';

		}

	}



	document.getElementById("ResetPwd").addEventListener("submit", function (event) {
		event.preventDefault();

		let memberPassword = document.getElementById("memberPassword").value;
		let memberConfirmPassword = document.getElementById("memberConfirmPassword").value;


		if ((memberPassword.trim() === "") || (memberConfirmPassword.trim() === "")) {
			alert("請輸入新密碼和確認密碼!");
			return false;
		}
		let passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;
		if (!passwordPattern.test(memberPassword)) {
			alert("密碼必須包含至少一個數字、一個小寫字母和一個大寫字母，且長度在8到20之間");
			return false;
		}

		if (memberConfirmPassword !== memberPassword) {
			alert("請確認密碼是否相同!")
			return false;
		}


		const formData =
		{
			memberAccount: "",
			memberPassword: memberPassword
		}

		console.log(JSON.stringify(formData));

		$.ajax({
			type: "POST",
			url: "/api/Members/ResetPwd",
			data: JSON.stringify(formData),
			contentType: "application/json"
		}).done(data => {
			if (!data.success) {
				alert(data.message);
				return false;
			}
			alert(data.message);
			window.location.href = "https://localhost:5000/Login/Login";

		}).fail((jqXHR, textStatus, errorThrown) => {
			if (jqXHR.status === 400) {
				const errorResponse = jqXHR.responseJSON;
				alert(errorResponse.message);
			} else {
				console.error("AJAX error:", textStatus, errorThrown);
			}
		});
		return false;
	});
</script>