@model ChilLaxFrontEnd.Models.CustomerService

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CustomerService</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerServiceId" class="control-label"></label>
                <input asp-for="CustomerServiceId" class="form-control" />
                <span asp-validation-for="CustomerServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reply" class="control-label"></label>
                <input asp-for="Reply" class="form-control" />
                <span asp-validation-for="Reply" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageDatetime" class="control-label"></label>
                <input asp-for="MessageDatetime" class="form-control" />
                <span asp-validation-for="MessageDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplyDatetime" class="control-label"></label>
                <input asp-for="ReplyDatetime" class="form-control" />
                <span asp-validation-for="ReplyDatetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
