@section Styles
    {
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />
    <style>
        thead {
            background-color: #4A4AFF;
            color: white;
        }
    </style>
}

<table id="customerServiceTable" class="display">
    <thead>
        <tr>
            @*<th>回饋編號</th>*@
            @*<th>會員編號</th>*@
            <th>回饋訊息</th>
            <th>回饋時間</th>
        </tr>
    </thead>
</table>

<!-- Show reply section -->
<div id="replySection" style="margin-top: 20px; display: none;">
    <h3>回覆訊息:</h3>
    <p id="replyMessage"></p>
    <p id="replyDatetime"></p>
</div>

@section Scripts
    {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.2.4/js/dataTables.fixedHeader.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $("#customerServiceTable").DataTable({
                ajax: {
                    type: "GET",
                    url: "https://localhost:5000/api/CustomerServicesApi",
                    dataSrc: function (data) { return data; }
                },
                columns: [
                    //{ "data": "customerServiceId", "width": "25%" },
                    //{ "data": "memberId", "width": "25%" },
                    { "data": "message", "width": "75%" },
                    { "data": "messageDatetime", "width": "25%" },
                ],
                fixedHeader: {
                    header: true
                },
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.5/i18n/zh-HANT.json',
                },
            });

            // Handle row click event to show reply
            $('#customerServiceTable tbody').on('click', 'tr', function () {
                var data = table.row(this).data();
                showReply(data);
            });

            // Function to show reply in the reply section
            function showReply(data) {
                var replySection = document.getElementById('replySection');
                var replyMessage = document.getElementById('replyMessage');
                var replyDatetime = document.getElementById('replyDatetime');

                replyMessage.textContent = data.Reply;
                replyDatetime.textContent = '回覆時間: ' + data.ReplyDatetime;

                replySection.style.display = 'block'; // Show the reply section
            }
        });
    </script>
}